/* About Section - Home Page
------------------------------*/
.about-append {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,247,253,1) 100%);
}

.about-append .content h2 {
  font-weight: 700;
}

.about-append .content p:last-child {
  margin-bottom: 0;
}

.about-append .content .read-more {
    color: #fff;
    padding: 8px 20px 10px 20px;
    border-radius: 7px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    background: linear-gradient(to bottom, #0f61a8 5%, #0b2b6a 100%);
    box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
    -webkit-box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
    -moz-box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.about-append .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.about-append .content .read-more:hover {
  background: linear-gradient(to bottom, #0b2b6a 5%, #0f61a8 100%);
  background-color: #0b2b6a;
  color: #fff;
  box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  -moz-box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  padding-right: 19px;
}

.about-append .content .read-more:hover i {
  margin-left: 10px;
}

.about-append .icon-box {
  padding: 50px 40px;
  box-shadow: 0px 9px 16px -6px rgba(11, 43, 106, 1);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
}

.about-append .icon-box i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 0;
  transition: all 0.4s ease-out 0s;
  background-color: rgba(11, 43, 106, 0.05);
  color: #0B2B6A;
}

.about-append .icon-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #0B2B6A;
}

.about-append .icon-box p {
  margin-bottom: 0;
}

.about-append .icon-box:hover i {
  background-color: #0B2B6A;
  color: #fff;
}

.about-append .icon-boxes .col-md-6:nth-child(2) .icon-box,
.about-append .icon-boxes .col-md-6:nth-child(4) .icon-box {
  margin-top: -40px;
}

@media (max-width: 768px) {

  .about-append .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about-append .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: 0;
  }
}
